GC_DEV_KEY=dev_key
GC_API_KEY=api_key
GC_DOMAIN=school.getcourse.ru

TEST_ADMIN_USER_ID=
TEST_USER_EMAIL=
TEST_USER_ID=
TEST_DEAL_ID=
TEST_OFFER_ID=
TEST_DEAL_POSITION_ID=
TEST_DIALOG_ID=
TEST_DEPARTMENT_ID=
TEST_LESSON_ANSWER_ID=
TEST_WEBINAR_ID=
TEST_WEBINAR_COMMENT_ID=
TEST_TELEGRAM_CHAT_ID=
TEST_GROUP_ID=
TEST_DIPLOMA_TEMPLATE_ID=
