# Исходный код
src

# Конфиги сборки и линтинга
tsdown.config.ts
tsconfig.json
tsconfig.*.json
eslint.config.*
prettier.config.*
.prettierrc*
.editorconfig
.lintstagedrc*

# Git хуки и CI
pre-commit
.github

# DOCS
docs

# CLAUDE
.claude
CLAUDE.MD

# IDE
.vscode

# Прочее
.env*
*.log
*.map
